# ====================================================
# SECRETS CONFIGURATION
# Copy this file to '.env' and fill in your real values.
# .env is ignored by Git, so your secrets are safe!
# ====================================================

# -----------------
# Payment Service
# -----------------
RAZORPAY_KEY_ID=rzp_test_T5jOIYB5NbPvxP
RAZORPAY_KEY_SECRET=x1UHgrhEsLbz5ZeWomivoGKb

# -----------------
# Notification Service
# -----------------
MAIL_USERNAME=7dcabe64bbea75
MAIL_PASSWORD=b2be4d1173399e
