############################################
# Java / Maven
############################################
**/target/
**/*.class

############################################
# IntelliJ IDEA
############################################
.idea/
**/.idea/
*.iml
out/

############################################
# VS Code
############################################
.vscode/

############################################
# Angular / Node
############################################
**/node_modules/
**/dist/
**/.angular/
**/.cache/
**/coverage/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

############################################
# Environment variables
############################################
.env
.env.*
!.env.example

############################################
# Spring Boot local configs
############################################
**/application-local.yml
**/application-dev.yml
**/application-prod.yml

############################################
# Logs
############################################
*.log
logs/

############################################
# OS Files
############################################
.DS_Store
Thumbs.db

############################################
# Eclipse
############################################
.project
.classpath
.settings/

############################################
# NetBeans
############################################
nbproject/